brewer2mpl==1.4.1
brightway2==0.14
bw2analyzer==0.8
bw2calc==1.0
bw2data==1.5
bw2ui==0.18.2
colorama==0.3.3
cycler==0.9.0
docopt==0.6.2
Flask==0.10.1
fuzzywuzzy==0.6.2
ggplot==0.6.8
itsdangerous==0.24
Jinja2==2.8
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.5.0
nose==1.3.7
numpy==1.9.3
pandas==0.17.1
patsy==0.4.1
Pint==0.6
progressbar-ipython==2.3.1
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
requests==2.7.0
scipy==0.16.0
six==1.10.0
stats-arrays==0.4.1
statsmodels==0.6.1
unicodecsv==0.14.1
Unidecode==0.4.18
voluptuous==0.8.7
Werkzeug==0.10.4
wheel==0.24.0
